In [3]:
import random
import os
import pandas as pd
import numpy as np
from tqdm.auto import tqdm
from sklearn.preprocessing import LabelEncoder, StandardScaler, MinMaxScaler

In [4]:
time_series_features = pd.read_csv("../../data/total_dates_scaling2.csv").drop(
    columns=["Unnamed: 0", "Date"]
)

In [5]:
time_series_features

,Unnamed: 0.1,DayofWeek,DayofMonth,Weekend,Month,Season,Quarter,Holiday,Salary,SaleInfo,Holiday_Salary
0,0,0.833333,0.000000,1,0.000000,0.000000,0.000000,1,0,0.0,0.5
1,1,1.000000,0.033333,1,0.000000,0.000000,0.000000,0,0,0.0,0.0
2,2,0.000000,0.066667,0,0.000000,0.000000,0.000000,0,0,0.0,0.0
3,3,0.166667,0.100000,0,0.000000,0.000000,0.000000,0,0,0.0,0.0
4,4,0.333333,0.133333,0,0.000000,0.000000,0.000000,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
474,474,0.500000,0.655172,0,0.272727,0.333333,0.333333,0,0,1.0,0.0
475,475,0.666667,0.689655,0,0.272727,0.333333,0.333333,0,0,1.0,0.0
476,476,0.833333,0.724138,1,0.272727,0.333333,0.333333,0,0,1.0,0.0
477,477,1.000000,0.758621,1,0.272727,0.333333,0.333333,0,1,0.0,0.5
478,478,0.000000,0.793103,0,0.272727,0.333333,0.333333,0,1,0.0,0.5